{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}


{% block stylesheets %}
    <link rel='stylesheet' href='{{ asset('build/app.css') }}' type='text/css' media='all'>
{% endblock %}

{% block body %}
    <div id="app">
        <App/>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

